// Demo logo
.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        fill: $white;
    }

    &.full {
        svg {
            height: 80%;
        }
    }

    &.avatar {
        svg {
            width: 85%;
        }

    }
}

.header-logo {
    height: 140px;
    margin-bottom: 2em;

    svg {
        fill: $brand-primary;
        height: 70%;
    }

    p {
        font-size: 1.3em;
        font-weight: 600;
        margin-bottom: 0;
    }
}